<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheets and fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename="css/index_styles.css") }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" >
    <title>COVID-19 Graphs</title>
</head>
<body>
    <header>
        <h1>COVID-19 Graphs</h1>
    </header>
    <div class="graph_display_area">
        <img src="{{ url_for('static', filename="total_cases.svg") }}" alt="">
    </div>
</body>
</html>